<div class="container">
  <h2 class="page-header">All Students List</h2>
  <table>
    <thead>
    <tr>
      <th>Serial No.</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
  </table>
</div>