<div>
  <table class="table table-responsive table-hover">
    <thead>
    <tr>
      <th>Serial No.</th>
      <th>Course Name</th>
      <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <% serial_no=0%>
    <% courses.each do |course| %>
        <tr>
          <td><%= serial_no +=1 %></td>
          <td><%= course.title %></td>
          <td><%= course.author %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>